<h1>Github Search Tool</h1>

<p>Implemented by owenoo @ github.com with <%= link_to "this tutorial", "http://natashatherobot.com/rails-omniauth-github-tutorial/" %></p>

<br />

<div>
	<% if current_user %>
	<%= "Welcome #{display_name}" %>
	<br />
	<%= link_to("Sign out", :signout) %>
	<% else %>
	<%= link_to("Sign in with Github", "/auth/github") %>
	<% end %>
</div>


<br / >
<br / >
<br / >
<br / >

<h1>Alternative Login with GitHub</h1>
<div>
<%= form_tag("/auth/github", method: "get") do %>
	<%= submit_tag '', :class => 'github-login-button' %>
<% end %>
</div>


<div id="ResultDiv">
	<% if flash[:authInfo] %>
		<p><%= 'authInfo: ' + flash[:authInfo] %></p>
	<% end %>
</div>


<br />
<br />
<br />
<br />

<div id="content" >
    <div class="wrapper">
        <% flash.each do |name, msg| %>
            <%= content_tag :div, :msg, class: "flash #{name}"%>
        <% end %>
        <%= yield %>
    </div>
</div>