<h1>Search</h1>
<br />
<% if flash[:notice] %>
	<%= flash[:notice] %>
	<br />
	<br />
<% end %>

<div>
	<% if current_user %>	
	<%= "Welcome #{session[:display_name]}" %>
	<br />
	<%= link_to("Sign out", :signout) %>
	<% else %>
	<%= link_to("Sign in with Github", "/auth/github") %>
	<% end %>
</div>
<br /><br />
<div>
<p>Search form will go here</p>
<%= form_tag("/search_github_repo_basic", method: "get") do %>	
	<%= submit_tag 'Search'%>
<% end %>
</div>
<br />
<div id='search-results'>
	<% if flash[:search_result] %>
		<p>Showing ? results out of ?</p>	
		<br />	
		<% binding.pry %>
		<%= content_tag(:ul, :class => "list") do %>
		<%		flash[:search_result].collect do |member|    %>
		<%=			content_tag(:li, :id => member["id"]) do %>
		<%=				member["id"] + " " + member["name"] + "; Score: " + member["score"] + " ; url: " + member["url"]  %>
		<%=				member["default"]  %>
		<%			end %>
		<%   	end %>
		<%  end %>
		<% binding.pry %>
	<% end %>
</div>

<div>
<p>Flash: </p>
<% if flash[:responseData] %>
	<%= flash[:responseData] %>
<% end %>
</div>
<br />
<div>
<p>1st result: </p>
<% if flash[:firstHit] %>
	<p>data ----</p><br />
	<%= flash[:firstHit] %>
<% end %>
</div>
<br /><br />
<div>
<p>1st result AS JSON: </p>
<% if flash[:firstHit] %>	
	<%= flash[:firstHit].to_json %>
<% end %>
</div>