<h1>Search</h1>
<br />
<% if flash[:notice] %>
	<%= flash[:notice] %>
	<br />
	<br />
<% end %>

<div>
	<% if current_user %>	
	<%= "Welcome #{session[:display_name]}" %>
	<br />
	<%= link_to("Sign out", :signout) %>
	<% else %>
	<%= link_to("Sign in with Github", "/auth/github") %>
	<% end %>
</div>
<br /><br />
<div>
<p>Search form will go here</p>
<%= form_tag("/search_github_repo_basic", method: "get") do %>	
	<%= submit_tag 'Search'%>
<% end %>
</div>
<br />
<div id='search-results'>
	<% if flash[:search_result] %>
	<p>Showing <%= flash[:search_result].count %> results out of ?</p>	
	<table>
		<tr>
			<th>Github Id</th>
			<th>Name</th>
			<th>Programming Language</th>
			<th>Score</th>
			<th>Url</th>
			<th>Stars</th>
			<th>Watchers</th>
		</tr>

		<% flash[:search_result].each do |row| %>
		<tr>
			<td><%= row["id"].to_s %></td>
			<td><%= row["name"] %></td>
			<td><%= row["language"] %></td>
			<td><%= row["score"] %></td>	     
			<td><%= row["url"] %></td>
			<td><%= row["stargazers_count"] %></td>
			<td><%= row["watchers_count"] %></td>			 
		</tr>
		<% end %>
	</table>
	<% end %>
	<% binding.pry %>	
</div>

<div>
<p>Flash: </p>
<% if flash[:responseData] %>
	<%= flash[:responseData] %>
<% end %>
</div>
<br />
<div>
<p>1st result: </p>
<% if flash[:firstHit] %>
	<p>data ----</p><br />
	<%= flash[:firstHit] %>
<% end %>
</div>
<br /><br />
<div>
<p>1st result AS JSON: </p>
<% if flash[:firstHit] %>	
	<%= flash[:firstHit].to_json %>
<% end %>
</div>