<h1>Search</h1>
<br />
<% if flash[:notice] %>
	<%= flash[:notice] %>
	<br />
	<br />
<% end %>

<div>
	<% if current_user %>	
	<%= "Welcome #{session[:display_name]}" %>
	<br />
	<%= link_to("Sign out", :signout) %>
	<% else %>
	<%= link_to("Sign in with Github", "/auth/github") %>
	<% end %>
</div>
<br /><br />
<div>
<p>Search form will go here</p>
<%= form_tag("/search_github_repo_basic", method: "get") do %>	
	<%= submit_tag 'Search'%>
<% end %>
</div>
<br />
<div id='search-results'>
	<p>results here</p>	
</div>

<div>
<p>Flash: </p>
<% if flash[:response_str] %>
	<%= flash[:response_str] %>
<% end %>
</div>